<div class="dashboard-container">
  <h2>Welcome to your Tasks</h2>

  <form [formGroup]="newTask" (ngSubmit)="createTask()">
    <input formControlName="title" type="text" placeholder="Task Title" required>
    <input formControlName="description" type="text" placeholder="Description">
    <button type="submit">Add Task</button>
  </form>

  @for ( task of tasks(); track task.UserId) {
    <div class="task-item">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <button (click)="editTask(task)">Edit</button>
      <button (click)="deleteTask(task.UserId)">Delete</button>
    </div>
  }

  <button (click)="logout()">Logout</button>
</div>