nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}
nav{position: absolute;
    top:0;
    width:100%;
  margin: 0;
    margin:auto;
    background: rgb(0, 76, 255);
    height: 50px;

}
li{list-style-type: none;}
a{text-decoration: none;    color: white;
}
ul{
    align-items: center;
    align-self: center;
    padding-top:15px;
}